body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* typography */

h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/* layout */

main {
    padding: 2em 0;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.info {
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
}

.personal-details-container {
    margin-bottom: 1em;
}

.schools-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.schools-container div button {
    margin-left: 5px;
}

/* btns */

.isShown-btn {
    background: gray;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 1em;
}

.add-education-btn {
    width: 100%;
    margin: 10px 0;
}

.save-btn {
    margin: 10px 0;
}

/* resume */

.resume {
    border: 1px solid black;
    width: 45em;
    height: 50em;
    padding: 2em;
}

.resume-personal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.resume-personal-details-sub {
    display: flex;
    gap: 10px;
}

/* education */

.resume-schools-container {
    display: flex;
    justify-content: space-between;
}

.resume-schools-container div {
    margin-bottom: 5px;
}